{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{% url 'main' %}" class="logo">LOGO</a>
        <nav>
                <a href="{% url 'main' %}" class="menuItem">Main</a>
            {% if user.is_authenticated %}
                <a href="{% url 'createpost' %}" class="menuItem">Create Post</a>
                <a href="{% url 'profile' user.id %}" class="menuItem">Profile</a>
                <a href="{% url 'logout' %}" class="menuItem">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="menuItem">Log In</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>

    </footer>
</body>
</html>